{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}

<h1>Toutes les annonces</h1>

<ul>
    {% for annonce in annonces %}
        <li><a href="{{ path('api_annonce_single_show', {'annonce': annonce.id}) }}">{{ annonce.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
