<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            
        {% endblock %}
    </head>
    <body>
        <header >
            <h1>La Comète</h1>
            <nav id="nav">
                    {% if app.user  %}
                        <select>
                            <option value="compte">Mon compte</option>          
                            <option value="annonces">Mes Annonces</option>
                            <option value="favoris">Mes Favoris</option>
                            <option value="parametres">Paramètres</option>
                            <option value="deconnexion">Déconnexion</option>
                        </select>  
                       
                    {% else %}
                        <ul>
                            <li><a href="{{ path('app_login') }}">connexion</a></li>
                            <li><a href="{{ path('app_register') }}">inscription</a></li>
                        </ul>                         
                    {% endif %}

        
        
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}                

            <script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors.js') }}"></script>

        {% endblock %}
    </body>
</html>