/* Footer container */
.website-footer {
    overflow: hidden;
    background-color: #002248;
    font-family: Arial;
    margin-top: 3em;
    padding: .2em;
}

.website-footer li {
    float: center;
    font-size: 14px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.website-footer li a {
    color: white;
    text-decoration: none;
}

/* Links inside the footer */
.website-footer p {
    float: center;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Make links on hover bold */
.website-footer a:hover {
    font-weight: bold;
}
  