{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form(registerForm) }}

    {# Lien de connexion #}
    {# <a href="{{ path('app_login') }}">Se connecter</a> #}
{% endblock %}