{% extends 'base.html.twig' %}

{% block title %}La Comète{% endblock %}

{% block body %}

<h1>Page accueil</h1>

<div id="root"></div>

<script type="text/javascript" src="{{ asset('assets/vendors.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>

{% endblock %}
