{% extends 'base.html.twig' %}

{% block title %}La Comète{% endblock %}

{% block body %}

<div id="root"></div>

{% endblock %}

{% block javascripts %}                

<script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendors.js') }}"></script>

{% endblock %}
