/******************************************************| GLOBAL |******************************************************/

.account-base {   
    min-height: 100vh;
    text-align: center;
}

form h2 {
    margin-bottom: 2em;
}


/******************************************************| SIDEBAR |******************************************************/

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 15em;
    background-color:rgba(0, 34, 72, 1);
    position: fixed;
    height: 100%;
    font-family: 'Sue Ellen Francisco', sans-serif;
    text-transform: uppercase;
  }

  /* Sidebar header */
  .sidebar p {
    display: block;
    color: white;
    padding: 1em;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #00837d;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 1em;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  /* Active/current link */
  .sidebar a.active {
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #adefd3;
    color: black;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  .account-container {
    position: relative;
    left: 15em;
    width: 75%;
    padding: .2em 1em;
    height: 100%;
  }

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .account-container {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


.deactivatebtn {    
    border-radius: .5em;
    border:none;
    height: 2em;    
    color:white; 
    font-size: .8em;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 1em;
    background-color: transparent;
}

.deactivatebtn:hover {    
    background-color: #d49f15;
    color:rgba(0, 34, 72, 1);
}

/******************************************************| HOME - IN PROGRESS |******************************************************/

.inprogress {
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2018/04/17/11/43/business-3327340_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/******************************************************| SETTINGS |******************************************************/

.settingsdiv {
    padding: 1rem;
}

.settings-form {
    margin: 3em auto;
    border: 1px solid #cdcdcd;
    border-radius: .5em;
    padding: 2em;
    text-align: left;
    background-color: #ebebeb;
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.settings-form .form-group .invalid-feedback {
    color: #d93641;
}

.settings-form .form-group .is-invalid {
    color: #d93641;
}

.settings-form h2 {
    text-align: center;
}

.settings-form input {
    height: 3em;
    border: none;
    border-radius: .5em
}

.settings-form input:focus {
    border: .1em solid #d49f15;
    box-shadow: none;        
}

.settings-form {
    margin-top: 3em;
}

.settings-form input:focus {
    height: 5em;
}
  

/******************************************************| NEW AD FORM |******************************************************/
.container {
    padding: 1rem;
}

.ad-form .ad-radio-group {
    margin-bottom: 1em;
}

.ad-form .contact-group input {
    margin-bottom: 1em;
}

.ad-form .contact-head .form-text {
    margin: -.5em 0 1em 0;
}
.ad-form .ad-radio-group label {
    margin-right: 2em;
    color: black;    
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
}


@keyframes click-wave {
    0% {
      height: 1.5em;
      width: 1.5em;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 3.5em;
      width: 3.5em;
      margin-left: -1em;
      margin-top: -1em;
      opacity: 0;
    }
}
  
.ad-form .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: .3em;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.ad-form .option-input:hover {
    background: #fff;
    border: 2px solid #00837d;
}
.ad-form .option-input:checked {
    background: #00837d;
}
.ad-form .option-input:checked::before {
    height: 1.5em;
    width: 1em;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    line-height: 1em;
}
.ad-form .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #00837d;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.ad-form .option-input.radio {
    border-radius: 50%;
}
.ad-form .option-input.radio::after {
    border-radius: 50%;
}

.ad-form {
    margin: 3em auto;
    border: 1px solid #cdcdcd;
    border-radius: .5em;
    padding: 2em;
    text-align: left;
    background-color: #ebebeb;
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.ad-form .invalid-radio {
    color: #d93641;
    font-size: .8em;
}

.ad-form .form-group .is-invalid {
    color: #d93641;
}

.ad-form h2 {
    text-align: center;
}

.ad-form input {
    height: 3em;
    border: none;
    border-radius: .5em
}
.ad-form input:focus {
    border: .1em solid #d49f15;
    box-shadow: none;        
}

.ad-form textarea {
    height: 20em;
    border: none;
    border-radius: .5em
}
.ad-form textarea:focus {
    border: .1em solid #d49f15;
    box-shadow: none;        
}

.ad-form .locsearch__menu-list, .ad-form .catsearch__menu-list {
    border: none;
    border-radius: .5em;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
}

.ad-form .locsearch__menu-list:focus, .ad-form .catsearch__menu-list:focus {
    border: .1em solid #d49f15;
    box-shadow: none;        
}

.ad-form .catsearch__control, .ad-form .locsearch__control {
    height: 3em;    
    border: none;
    border-radius: .5em;   
}


.ad-form .css-1wa3eu0-placeholder {
    font-family: 'Nanum Gothic', sans-serif;
}

.ad-form .css-1g48xl4-IndicatorsContainer {
    display: none;
}

/*****************************************************| BUTTON |*****************************************************/

.account-btn {
    background-color: white;
    border: none;
    border-radius: .5em;
    height: 3em;
    width: 3em;
    margin: 1em auto;
}

.account-btn .btn-span {
    border: .1em solid #d49f15;
    border-radius: .5em;
    height: 2.5em;
    width: 2.5em;
    padding: 0.2em 0.4em;
    color: #00837d;
    margin-left: -0.11em;
    margin-bottom: -0.25em;
    font-size: 1.4em;
}

.account-btn .btn-span:hover {
    color: rgba(0, 34, 72, 1);
}

/*****************************************************| GRIDS |*****************************************************/

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.accountgrid {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.accountgrid .resultgrid {
  max-width: 1200px;
  margin-left: 0;
}

.accountgrid .resultgrid h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.accountgrid .resultgrid img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.accountgrid .resultgrid .btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  margin-bottom: 0;
}

a .btn {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }

.accountgrid .resultgrid .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.accountgrid .resultgrid .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.accountgrid .cards_item {
  display: flex;
  padding: 1rem;
}

.accountgrid .card {
  background-color: #00837d;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.accountgrid .card_content {
  padding: 1rem;
  background-color: #00837d;
}

.accountgrid .card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px;
}

.accountgrid .card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}