.blog-header {
  background-color: rgba(0, 34, 72, 1);
}

.guestusernav {
  margin-bottom: -1em;
}

.guestusernav a {
  color: white;
  font-family: 'Sue Ellen Francisco', sans-serif;
  text-transform: uppercase;
  font-size: 1.7em;
  margin: .2em;
  align-self: baseline;
  margin-bottom: -3em;
  text-decoration: none;
}

/* The dropdown container */
.accounticon {
  color: white;
  font-size: 2em;
  font-family: 'Sue Ellen Francisco', sans-serif;
  text-transform: uppercase;
  font-size: 1.7em;
}

.dropmenu {
  background-color: #002248;
  font-family: 'Sue Ellen Francisco', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
}
.dropmenu a {
  overflow: hidden;
  color: white;
}

/* Make dropdown links on hover bold */
.dropmenu a:hover {  
  color:  #d49f15;
  text-decoration: none;
  background-color: #002248;
}
