body {
    background-image: url(https://cdn.pixabay.com/photo/2018/04/17/11/43/business-3327340_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.connexion-title {
    text-align: center;
    font-family: 'Sue Ellen Francisco', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    margin-top:0.8em;
}

.btn-color-login {
    background-color: #00837d;
    font-family: 'Sue Ellen Francisco', sans-serif;
    text-transform: uppercase;
    position:relative;
    left:45%;
    margin-top: 3.5em;
    color:black
    
}

.btn-color-link-signup {
    background-color: #00837d;
    font-family: 'Sue Ellen Francisco', sans-serif;
    text-transform: uppercase;
    color: black;
    position:relative;
    display: block;
    left:47%;
    margin-left:0.4em;
    margin-top:6em;
}

.btn-color-link-home {
    margin-top:1em;
    background-color: #00837d;
    font-family: 'Sue Ellen Francisco', sans-serif;
    text-transform: uppercase;
    color: black;
    position:relative;
    display: block;
    left:45%;
    margin-left:0.7em;
    
}

.inputs-password-email {
    max-width: 25%;
    margin-bottom: 1em;
    display: inline-block;
    text-align: center;
    margin-top:3em;
    margin-left: 2em;
}

.center-inputs{
    text-align: center;
}

.link-password {
    display: block;
    text-align:center;
    margin-left: 1.3em;
    margin-top:1em;
    color:#00837d;
}

.link-button {
   color:black ;
   text-align:center;
}

.link-button:hover{
    text-decoration:none;
    color:black;
}

.link-password:hover {
    color: #adefd3;
    text-decoration: none;
}

.alert-decoration {
    background-color: #d93641;
    text-align:center;
    margin-top: 1em;
    border-radius: 2em;
}

.info-login {
    font-family: 'Sue Ellen Francisco', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size:1.5em;
}

.logout-style {
    color:#00837d;
}

.logout-style:hover{
    color: #adefd3;
    text-decoration: none;
}

.input-register {
    max-width: 25%;
    display: inline-block;
    text-align: center;
    margin-top:0.8em;
    margin-left: 2em;
}

.align-form {
    position:relative;
    display: block;
    left:37%;
    margin-left: 1.9em;
}

.btn-color-register {
    background-color: #00837d;
    font-family: 'Sue Ellen Francisco', sans-serif;
    text-transform: uppercase;
    position:relative;
    left:47%;
    margin-top: 1em;
    color:black
    
}

.btn-color-link-signin {
    background-color: #00837d;
    font-family: 'Sue Ellen Francisco', sans-serif;
    text-transform: uppercase;
    color: black;
    position:relative;
    display: block;
    left:46%;
    margin-left:0.7em;
    margin-top:5em;
}

.btn-color-link-home-register {
    margin-top:1em;
    background-color: #00837d;
    font-family: 'Sue Ellen Francisco', sans-serif;
    text-transform: uppercase;
    color: black;
    position:relative;
    display: block;
    left:45%;
    margin-left:0.6em;
    
}


